<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source = DESKTOP-83LTSD3\SQLEXPRESS;Initial Catalog = pharmacy2;Integrated Security = SSPI;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>